:root {
    --color-primario: rgb(255, 72, 0);
    --color-secundario: black;
    --color-fondo: rgb(63, 63, 63);
    --color-blanco: white;
    --color-gris: gray;
}


html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;
    
    
    background-color: var(--color-secundario);



}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    padding: 0 40px;
    background-color: var(--color-secundario);
    box-shadow: 0 5px 15px var(--color-primario);
    z-index: 1000;
}

.nav__ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__ul li {
    
    
}

.nav__a {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primario);
    padding: 17px 30px;
    border-radius: 15px;
    margin: 0 1px;
}

.nav__a:hover {
    color: var(--color-secundario);
    background-color: var(--color-primario);
    box-shadow: 3px 3px 5px var(--color-secundario);
    
}

.nav__a:focus{
    color: var(--color-secundario);
    background-color: var(--color-primario);
}

.carrito__icon {
    color: var(--color-blanco);
    font-size: 24px; 
    padding: 13px 30px;   
}

.carrito__icon:hover {
    color: var(--color-blanco);
    background-color: var(--color-primario);
}



.main {
    display: grid;
    margin-top: 60px;
    padding: 30px;
    
    width: 100%;
    
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    
}

.main__article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px 20px;
    border: 2px solid orangered;
    background-color: var(--color-secundario);
    margin-top: 30px;
}

.main__article-section {
    width: 100%;
    height: 370px;
}

.card {
    padding: 3px;
    height: 250px;
    width: 100%;
    
}


select {
    font-size: 14px;
    padding: 4px;
    background-color: black;
    border: 1px solid var(--color-primario);
    border-radius: 20px;
    color: var(--color-blanco);
}


















.main__article:hover {
    box-shadow:2px 2px 15px var(--color-primario);
}


.card__select {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__description {
    margin: 15px;
}

.card__details-button {
    
    font-size: 12px;
    position: relative;
    width: 100px;
    height: 30px;
}

.card__details-button a{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    color: var(--color-primario);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    z-index: 1;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
    font-weight: 700;
    cursor: pointer;
    border: none;
    backdrop-filter: blur(15px);

}

.card__details-button:hover a {
    letter-spacing: 2px;
    color: black;
}

.card__details-button a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: .5s;
}

.card__details-button:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

.card__details-button::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    width: 30px;
    height: 0;
    background-color: var(--color-primario);
    border-radius: 10px;
    transition: .5s;
    transition-delay: 0%;
    box-shadow: 0 0 5px var(--color-primario),
    0 0 15px var(--color-primario),
    0 0 30px var(--color-primario),
    0 0 50px var(--color-primario);
}

.card__details-button:hover::before {
    
    bottom: 10px;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: .5s;
}


.card__details-button::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    width: 30px;
    height: 0;
    background-color: var(--color-primario);
    border-radius: 10px;
    transition: .5s;
    transition-delay: 0%;
    box-shadow: 0 0 5px var(--color-primario),
    0 0 15px var(--color-primario),
    0 0 30px var(--color-primario);
}

.card__details-button:hover::after {
    top: 15px;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: .5s;
}









.img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px;
    
    width: 100%;
    height: 100%;
    


    object-fit: cover;
}

.img1 {
    background-image: url("../img/img1.jpg");
}
.img2 {
    background-image: url("../img/img2.jpg");
}
.img3 {
    background-image: url("../img/img3.jpg");
}
.img4 {
    background-image: url("../img/img4.jpg");
}
.img5 {
    background-image: url("../img/img5.jpg");
}




p {
    
    color: white;
    
}





.footer {
    width: 100%;
    height: 300px;
    background-color: var(--color-primario);
    border-top: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.footer p {
    padding: 10px;
    cursor: pointer;
}

.footer p:hover {
    background-color: black;
}



@media screen and (max-width: 330px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}